#include <behaviors.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            label = "Base";
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3    &kp N4     &kp N5          &kp N6    &kp N7   &kp N8     &kp N9   &kp N0    &kp GRAVE
&kp TAB    &kp Q   &kp W   &kp E     &kp R      &kp T           &kp Y     &kp U    &kp I      &kp O    &kp P     &kp BSPC
&kp LCTRL  &kp A   &kp S   &kp D     &kp F      &kp G           &kp H     &kp J    &kp K      &kp L    &kp SEMI  &kp APOS
&kp LSHFT  &kp Z   &kp X   &kp C     &kp V      &kp B           &kp N     &kp M    &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                           &kp LGUI  &kp SPACE  &kp LEFT_ALT    &kp BSPC  &kp RET
                                     &mo 1      &kp LSHFT       &mo 2
            >;
        };

        Lower {
            label = "Lower";
            bindings = <
&kp F12       &kp F1    &kp F2    &kp F3     &kp F4     &kp F5       &kp F6          &kp F7     &kp F8  &kp F9     &kp F10   &kp F11
&trans        &kp K_PP  &kp UP    &kp N1     &kp N2     &kp N3       &kp N7          &kp N8     &kp N9  &kp N0     &kp HOME  &trans
&trans        &kp LEFT  &kp DOWN  &kp RIGHT  &kp N4     &kp N5       &kp N4          &kp N5     &kp N6  &kp RIGHT  &trans    &kp F10
&kp LEFT_ALT  &trans    &trans    &trans     &kp MINUS  &kp PLUS     &kp N1          &kp N2     &kp N3  &kp DOT    &trans    &trans
                                  &kp LGUI   &trans     &kp SPACE    &kp RET         &kp RCTRL
                                             &trans     &trans       &kp LANGUAGE_1
            >;
        };

        Raise {
            label = "Raise";
            bindings = <
&trans  &trans        &trans      &trans      &trans        &trans       &trans     &trans     &trans           &trans    &trans    &trans
&trans  &kp EXCL      &kp AT      &kp HASH    &kp DLLR      &kp PRCNT    &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp DEL
&trans  &bt BT_CLR    &bt BT_PRV  &bt BT_NXT  &bt BT_SEL 0  &trans       &kp UNDER  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH  &kp GRAVE
&trans  &out OUT_TOG  &trans      &trans      &trans        &to 3        &kp MINUS  &kp PLUS   &kp LBRC         &kp RBRC  &kp PIPE  &kp TILDE
                                  &kp LGUI    &kp LEFT_ALT  &kp SPACE    &kp RET    &trans
                                              &to 3         &trans       &trans
            >;
        };

        Mouse {
            bindings = <
&trans     &trans  &trans  &trans     &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans  &trans  &trans     &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans
&trans     &trans  &trans  &trans     &trans  &trans       &trans  &trans  &trans  &trans  &trans  &trans
&mkp MCLK  &trans  &trans  &trans     &trans  &trans       &trans  &trans  &trans  &trans  &trans  &mkp LCLK
                           &trans     &trans  &trans       &trans  &mo 2
                                      &mkp LCLK &mkp RCLK  &to 0 
            >;
        };
    };
};
